extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group
      label Student's name:
      input.form-control(name='title', type='text')
    #form-group
      label Admin name:
      input.form-control(name='author', type='text')    
    #form-group
      label Student details:
      textarea.form-control(name='body')
    br
    input.btn.btn-primary(type='submit',value='Submit')
